.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.MuiPaper-root.Card{
  background-color: #0055a3;
  box-shadow: 9px 11px 20px 0 rgba(0, 0, 0, 0.99),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12);
}

.MuiPaper-elevation{
  margin-top: 100px;
  border: 6px sold black;
 
}

.MuiTypography-subtitle1.title, .title{
  color: rgb(0, 0, 0);
  font-family: 'Anton', sans-serif;
}

.img{
  max-width: 100%;
    height: auto;
    padding: 0;
    margin: 0
}

.MuiCardMedia-media, .MuiCardMedia-img {
  width: 500px;
  height: 500px;
}
